In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
beer_data = pd.read_csv("Beer/beer_reviews.csv")

In [3]:
beer_data.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [4]:
# view data info
beer_data.info()

# review time is wrong data type... but we will drop this column
# to correct this column
# beer_data.review_time = pd.to_datetime (beer_data.review_time,unit = 's')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1586614 non-null  int64
 1   brewery_name        1586599 non-null  object
 2   review_time         1586614 non-null  int64
 3   review_overall      1586614 non-null  float64
 4   review_aroma        1586614 non-null  float64
 5   review_appearance   1586614 non-null  float64
 6   review_profilename  1586266 non-null  object
 7   beer_style          1586614 non-null  object
 8   review_palate       1586614 non-null  float64
 9   review_taste        1586614 non-null  float64
 10  beer_name           1586614 non-null  object
 11  beer_abv            1518829 non-null  float64
 12  beer_beerid         1586614 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

In [5]:
print("Count of unique beers, by beer_id: " ,beer_data.beer_beerid.nunique())
print("Count of unique beers, by beer_name: " ,beer_data.beer_name.nunique())

Count of unique beers, by beer_id:  66055
Count of unique beers, by beer_name:  56857

In [6]:
print("Count of unique breweries, by brewery_id: " ,beer_data.brewery_id.nunique())
print("Count of unique breweries, by brewery_name: " ,beer_data.brewery_name.nunique())

Count of unique breweries, by brewery_id:  5840
Count of unique breweries, by brewery_name:  5742

In [7]:
print("Count of unique users, by review_profilename: " ,beer_data.review_profilename.nunique())

Count of unique users, by review_profilename:  33387

In [8]:
# 56857 beer names from 5742 breweries
# review the number of null/missing values
print("Overview of missing values in the dataset: /n",beer_data.isnull().sum())

Overview of missing values in the dataset: /n brewery_id                0
brewery_name             15
review_time               0
review_overall            0
review_aroma              0
review_appearance         0
review_profilename      348
beer_style                0
review_palate             0
review_taste              0
beer_name                 0
beer_abv              67785
beer_beerid               0
dtype: int64

In [10]:
# Remove unnecessary columns
beer_data = beer_data.drop(["brewery_id"], axis=1)
beer_data = beer_data.drop(["review_time"], axis=1)
beer_data = beer_data.drop(["review_profilename"], axis=1)
beer_data = beer_data.drop(["beer_beerid"], axis=1)
beer_data = beer_data.dropna()
beer_data.head()

,brewery_name,review_overall,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_name,beer_abv
0,Vecchio Birraio,1.5,2.0,2.5,Hefeweizen,1.5,1.5,Sausa Weizen,5.0
1,Vecchio Birraio,3.0,2.5,3.0,English Strong Ale,3.0,3.0,Red Moon,6.2
2,Vecchio Birraio,3.0,2.5,3.0,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5
3,Vecchio Birraio,3.0,3.0,3.5,German Pilsener,2.5,3.0,Sausa Pils,5.0
4,Caldera Brewing Company,4.0,4.5,4.0,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7

In [11]:
beer_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1518814 entries, 0 to 1586613
Data columns (total 9 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   brewery_name       1518814 non-null  object
 1   review_overall     1518814 non-null  float64
 2   review_aroma       1518814 non-null  float64
 3   review_appearance  1518814 non-null  float64
 4   beer_style         1518814 non-null  object
 5   review_palate      1518814 non-null  float64
 6   review_taste       1518814 non-null  float64
 7   beer_name          1518814 non-null  object
 8   beer_abv           1518814 non-null  float64
dtypes: float64(6), object(3)
memory usage: 115.9+ MB

In [12]:
beer_data.describe()

,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv
count,1.518814e+06,1.518814e+06,1.518814e+06,1.518814e+06,1.518814e+06,1.518814e+06
mean,3.823887e+00,3.746166e+00,3.850350e+00,3.753683e+00,3.804018e+00,7.042396e+00
std,7.172938e-01,6.953954e-01,6.143411e-01,6.793794e-01,7.286683e-01,2.322532e+00
min,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02
25%,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,5.200000e+00
50%,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,6.500000e+00
75%,4.500000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.500000e+00,8.500000e+00
max,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.770000e+01

In [13]:
#Rearrange and sort by brewery name

beer_data = beer_data[['brewery_name', 'beer_style', 'beer_name', 'beer_abv', 'review_appearance', 
             'review_aroma', 'review_palate', 'review_taste', 'review_overall']]
beer_data = beer_data.sort_values(by=['brewery_name', 'beer_style', 'beer_name' , 'beer_abv', 'review_overall'])
beer_data = beer_data.reset_index()
beer_data = beer_data.drop(["index"], axis=1)
beer_data.head()

,brewery_name,beer_style,beer_name,beer_abv,review_appearance,review_aroma,review_palate,review_taste,review_overall
0,'t Hofbrouwerijke,Belgian Dark Ale,Hofblues,5.5,4.0,3.0,2.5,3.0,3.0
1,'t Hofbrouwerijke,Belgian Dark Ale,Hofblues,5.5,3.5,3.0,3.5,3.0,3.0
2,'t Hofbrouwerijke,Belgian Dark Ale,Hofblues,5.5,3.5,3.5,2.5,3.0,3.0
3,'t Hofbrouwerijke,Belgian Dark Ale,Hofblues,5.5,3.5,4.5,3.0,3.5,3.5
4,'t Hofbrouwerijke,Belgian Dark Ale,Hofblues,5.5,4.0,3.5,3.5,3.5,3.5

In [14]:
beer_data.tail()

,brewery_name,beer_style,beer_name,beer_abv,review_appearance,review_aroma,review_palate,review_taste,review_overall
1518809,Ørbæk Bryggeri,Schwarzbier,Dark Horse,5.0,3.5,2.5,4.0,3.5,3.0
1518810,Ørbæk Bryggeri,Witbier,Fynsk Forår,4.8,4.0,3.5,3.5,3.0,3.5
1518811,Ørbæk Bryggeri,Witbier,Fynsk Forår,4.8,3.5,3.5,4.0,3.0,3.5
1518812,Ørbæk Bryggeri,Witbier,Fynsk Forår,4.8,3.5,4.5,2.5,5.0,4.5
1518813,Łódzkie Browary S.A.,Baltic Porter,Porter &#321;ódzki,9.5,4.0,4.0,4.0,4.0,3.5

In [15]:
# created new column.. review average
beer_data['review_average'] = beer_data.apply(lambda row: (row["review_overall"] + row["review_aroma"] + 
                                                 row["review_appearance"] + row["review_palate"] + 
                                                 row["review_taste"]) / 5, axis=1)

beer_data = beer_data.drop(beer_data[(beer_data["review_average"] < 1) | (beer_data["review_average"] > 5)].index)
beer_data.head()

,brewery_name,beer_style,beer_name,beer_abv,review_appearance,review_aroma,review_palate,review_taste,review_overall,review_average
0,'t Hofbrouwerijke,Belgian Dark Ale,Hofblues,5.5,4.0,3.0,2.5,3.0,3.0,3.1
1,'t Hofbrouwerijke,Belgian Dark Ale,Hofblues,5.5,3.5,3.0,3.5,3.0,3.0,3.2
2,'t Hofbrouwerijke,Belgian Dark Ale,Hofblues,5.5,3.5,3.5,2.5,3.0,3.0,3.1
3,'t Hofbrouwerijke,Belgian Dark Ale,Hofblues,5.5,3.5,4.5,3.0,3.5,3.5,3.6
4,'t Hofbrouwerijke,Belgian Dark Ale,Hofblues,5.5,4.0,3.5,3.5,3.5,3.5,3.6